VITE_WEDDING_API_URL=
VITE_ADMIN_PIN=troque-este-pin
VITE_REPOSITORY_NAME=casamento
VITE_MSAL_CLIENT_ID=2d7bcc44-8337-42ec-a3e2-6ba7c9bda91f
VITE_MSAL_REDIRECT_URI=http://localhost:5173/
VITE_GRAPH_DRIVE_ID=b!tvoe0qGD2EeG7GgpazFEL5xBSoVgpDdMqENBL3FYLvPKjufZ6TUjRq1KvbMjsPUY
VITE_GRAPH_ITEM_ID=01S4Q2WRY2BQNWH4RWMRELZIDQQ6IBN4DW
VITE_GRAPH_DRIVE_ID_CLIENTES=b!scYxP1iKHk-2Xn5kVVhFAGdG9X8BFZBGvt5w-aBi12Mo0YszQX9hSakmug3Ij2Qf
VITE_GRAPH_ITEM_CLIENTES=01FWWAKIQQT5LZBQ5UGNBILG4UQ6VQGUJ3
VITE_WEDDING_DRIVE_ID=b!scYxP1iKHk-2Xn5kVVhFAGdG9X8BFZBGvt5w-aBi12Mo0YszQX9hSakmug3Ij2Qf
VITE_WEDDING_WORKBOOK_ITEM_ID=01FWWAKIQQT5LZBQ5UGNBILG4UQ6VQGUJ3
VITE_RSVP_PROXY_URL=/api/rsvp
VITE_WEDDING_RSVP_TABLE=Tabela11
VITE_WEDDING_WORKBOOK_NAME=Orçamento Web
VITE_WEDDING_RSVP_SHEET=Form1
